<main
  class="bg-gradient-to-t from-yellow-400 via-yellow-600 to-orange-600 min-h-screen flex flex-col items-center justify-center space-y-6 relative overflow-y-auto animate-fade-in p-6"
>
<div class="flex items-center mb-4">
    <img
      class="w-16 h-16 mr-3 transition-transform duration-300 hover:rotate-360"
      src="/assets/img/logo.png"
      alt="logo"
    />
    <h1
      class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-black"
    >
      Capsule Corp. 
    </h1>
  </div>
  <h4
    class="mb-4 text-4xl tracking-tight font-extrabold text-gray-200 dark:text-black"
  >
    Academic Center Hardware
  </h4>
  <div class="flex justify-center w-full max-w-5xl space-x-4">
    
    <button (click)="returnCourse()" type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg flex items-center gap-2 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg transition-all duration-300 hover:shadow-lg hover:shadow-gray-400/50 transform hover:-translate-y-1">
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
        </svg>
        Regresar
      </button>
  </div>
  <section class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-6 bg-gray-800 bg-opacity-70 rounded-lg w-3/4 animate-slide-in">
    <div class="bg-gray-700 p-4 rounded-lg text-white">
      <!-- Miniatura del video de YouTube -->
      <a (click)="goToVideo()" class="cursor-pointer">
        <img class="rounded-t-lg w-full h-48 object-cover" 
             src="https://img.youtube.com/vi/TU_ID_DE_VIDEO/hqdefault.jpg" 
             alt="Miniatura del video">
      </a>
  
      <div class="p-5">
        <a (click)="goToVideo()" class="cursor-pointer">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Introducción a Cisco 2025</h5>
        </a>
        <p class="mb-3 font-normal text-gray-300">
          Aprende la historia de Cisco, sus diferentes funciones y aplicaciones en el entorno profesional.
        </p>
        <button (click)="goToVideo()"
           class="flex items-center justify-center bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-lg focus:ring-4 focus:outline-none focus:ring-yellow-300 transition-all duration-300 hover:shadow-lg transform hover:-translate-y-1">
          Empezar Curso
          <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>
    </div>
  </section>


  <section
    class="w-3/4 p-6 bg-gray-900 bg-opacity-80 rounded-lg animate-slide-in space-y-6 overflow-y-auto max-h-[70vh]"
  >
    <h2 class="text-3xl font-extrabold text-white mb-4 text-shadow-lg">
      Recursos Adicionales
    </h2>
    <ul class="list-disc list-inside">
      <li>
        <a href="https://concepto.de/placa-madre/" rel="noopener noreferrer" target="_blank" class="text-blue-500 hover:underline">¿Que es una Placa Madre?</a>
      </li>
      <li>
        <a href="https://www.xataka.com/basics/memoria-ram-que-sirve-como-mirar-cuanta-tiene-tu-ordenador-movil" rel="noopener noreferrer" target="_blank" class="text-blue-500 hover:underline" >¿Que es Memoria RAM?</a>
      </li>
      <li>
        <a href="https://qloudea.com/blog/que-es-un-disco-duro/" rel="noopener noreferrer" target="_blank" class="text-blue-500 hover:underline">¿Que es un Disco Duro?</a>
      </li>
      <li>
        <a href="https://www.xataka.com/basics/tarjeta-grafica-que-que-hay-dentro-como-funciona"rel="noopener noreferrer"  target="_blank" class="text-blue-500 hover:underline">¿Que es una Tarjeta Gráfica?</a>
      </li>
      <li>
        <a href="https://www.corsair.com/es/es/explorer/diy-builder/power-supply-units/what-is-a-psu-power-supply-units-explained/"rel="noopener noreferrer"  target="_blank" class="text-blue-500 hover:underline">¿Que es una Fuente de Alimentación?</a>
      </li>
    </ul>
  </section>

</main>

